
html,body{ width: 100%;width: 100%;padding: 0px; margin: 0px; }
#container{
        width: 100%;width: 100%;padding: 0px; margin: 0px;  
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        div.item{  width: 200px; height: 150px; border: 1px solid red; line-height: 200px; text-align: center;}
}